.home-div {
  margin-top: 40vh;
  margin-left: 25vw;
  width: 50vw;
}

.button-div {
  margin-left : 40%;
  margin-top: 5vh;
}

@media only screen and (max-width: 767px) {
  .button-div {
    margin-left : 33%;
    margin-top: 5vh;
  }
}
